*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(rgba(10,10,30,0.7), rgba(10,10,30,0.9)),
    url("../images/hirehub-bg.jpeg");

    background-size:cover;
    background-position:center;
}

.container{
    width:380px;
    padding:35px;
    background:rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    border-radius:20px;
    border:1px solid rgba(255,255,255,0.2);
    box-shadow:0 0 25px rgba(0,200,255,0.4);
    color:white;
}

.logo{
    text-align:center;
    font-size:28px;
    font-weight:bold;
    color:#00e1ff;
}

.quote{
    text-align:center;
    font-size:13px;
    color:#ccc;
    margin-bottom:20px;
}

h2{text-align:center;margin:15px 0;}

.field input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border-radius:10px;
    border:none;
    outline:none;
    background:rgba(255,255,255,0.15);
    color:white;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:12px;
    background:linear-gradient(45deg,#00e1ff,#007bff);
    color:white;
    font-weight:bold;
}

.link{
    text-align:center;
    display:block;
    margin-top:15px;
    color:#00e1ff;
    text-decoration:none;
}