/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

/* AUTH BODY ONLY */
.auth-body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;

    background:
    linear-gradient(rgba(10,10,30,0.7), rgba(10,10,30,0.9)),
    url("images/hirehub-bg.jpeg");

    background-size:cover;
    background-position:center;
}

/* CARD */
.container{
	position:relative;
    width:380px;
    padding:35px;
    background:rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    border-radius:20px;
    box-shadow:0 0 25px rgba(0,200,255,0.4);
    color:white;
}
.container::before{
    content:"";
    position:absolute;
    top:-2px;
    left:-2px;
    width:calc(100% + 4px);
    height:calc(100% + 4px);
    border-radius:22px;

    background:linear-gradient(
        45deg,
        #00f0ff,
        #667eea,
        #764ba2,
        #00f0ff
    );

    background-size:400%;
    z-index:-1;
    filter:blur(8px);
    animation:neonGlow 6s linear infinite;
}

@keyframes neonGlow{
    0%{background-position:0 0;}
    50%{background-position:400% 0;}
    100%{background-position:0 0;}
}

/* LOGO */
.logo{
    text-align:center;
    font-size:28px;
    font-weight:bold;
    color:#00e1ff;
}

/* QUOTE */
.quote{
    text-align:center;
    font-size:13px;
    color:#ccc;
    margin-bottom:20px;
}

h2{text-align:center;margin:15px 0;}

.field{margin-bottom:18px;}

.field input{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:none;
    background:rgba(255,255,255,0.15);
    color:white;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:12px;
    background:#00e1ff;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.link{
    text-align:center;
    display:block;
    margin-top:15px;
    color:#00e1ff;
    text-decoration:none;
}